<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.mvc.mapper.DeviceDataRecordMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, created_by, created_date, updated_by, updated_date, device_id, code, content, ip_address
    </sql>

</mapper>
