<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.mvc.mapper.ShareDeviceMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , created_by, created_date, updated_by, updated_date, from_account_id, to_account_id, device_id
    </sql>
    <select id="shareList" resultType="com.smart.mvc.vo.ShareDeviceVO">
        select d.name as deviceName,
               d.id as device_table_id,
               d.device_id,
               sd.to_account_id,
               a.name as toAccountName,
               sd.from_account_id,
               sd.created_by,
               sd.created_date,
               sd.id
        from share_device sd
                 left join device d on sd.device_id = d.id
                 left join account a on a.id = sd.to_account_id
    </select>

</mapper>
